@font-face {
  font-family: 'Geist';
  src: url('/static/fonts/Geist/Geist-VariableFont_wght.ttf');
}

* {
  padding: 0;
  margin: 0;
}

main#main {
  padding: 0 1rem;
  nav {
    margin-bottom: 1rem;
  }
}
